<template>
  <div class="home">
    <div class="row" v-if="imagesList.length">
      <div class="grid" v-for="(singleImage) in imagesList" :key="singleImage.name">
        <image-wrapper
          :imageObj="singleImage"
          @delteImage="handleDelte"
          @editImage="handleEdit">
        </image-wrapper>
      </div>
    </div>
    <div v-else>
      Loading...
    </div>
    <image-edit :show="showEdit" @closeEditModal="closeEditModal"></image-edit>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapState } from 'vuex'

import ImageEdit from '../components/modal/imageEdit'
import ImageWrapper from '../components/imageWrapper'

export default {
  name: 'home',
  components: {
    ImageEdit,
    ImageWrapper
  },
  data() {
    return {
      showEdit: false
    }
  },
  mounted () {
    this.$store.dispatch('getImages');
  },
  methods: {
    closeEditModal() {
      this.showEdit = false;
    },
    showModal() {
      this.showEdit = true;
    },
    handleDelte(imgObj) {
      this.$store.dispatch('removeImage', imgObj);
    },
    handleEdit(imgObj) {
      this.showEdit = true;
      this.$store.dispatch('imageToEdit', imgObj);
    }
  },
  computed: {
    ...mapState({
      imagesList: state => state.imagesList
    })
  }
}
</script>
<style lang="scss" scoped>
@import "../style/mixin.scss";
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.grid {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  @include breakpoint-min(calc-rem(576)) {
    max-width: 50%;
    flex: 0 0 50%;
  }
  @include breakpoint-min(calc-rem(960)) {
    max-width: 33.333%;
    flex: 0 0 33.333%;
  }
  @include breakpoint-min(calc-rem(1200)) {
    max-width: 25%;
    flex: 0 0 25%;
  }
}
</style>
