<template>
  <modal-wrapper :show="show" :onClose="handleClose">
    <div>
      <div id="edit-header">
        Edit image
        <button id="closeBtn" @click="handleClose">
          <span>×</span>
        </button>
      </div>
      <div id="editContianer">
        <div>
          <div id="ogImage">
            <image-container :imgURL="selecteImage.image_url"></image-container>
          </div>
        </div>

        <div>
          <div id="editImage">
            <image-container :imgURL="editImgURL"></image-container>
            <input type="file" name="imageLoader" id="imageLoader" @change="onFileChange">
            <button id="saveImage" @click="saveImage">Confirm Image</button>
          </div>
        </div>

      </div>
    </div>
  </modal-wrapper>
</template>
<script>
import { mapState } from 'vuex';
import ModalWrapper from './modalWrapper';
import ImageContainer from '../imageContainer'

export default {
  name: 'ImageEdit',
  components: {
    ModalWrapper,
    ImageContainer
  },
  props: {
    show: {
      type: Boolean,
      default() {
        return true
      }
    }
  },
  data() {
    return {
      editImgURL: ''
    }
  },
  methods: {
    handleClose() {
      this.reset()
      this.$emit('closeEditModal');
    },
    onFileChange(e) {
      this.editImgURL = URL.createObjectURL(e.target.files[0])
    },
    saveImage() {
      if(this.editImgURL) {
        this.$store.dispatch('editImage', this.editImgURL);
        this.handleClose();
      } else {
        alert('Plz upload an image :(');
      }
    },
    reset() {
      this.editImgURL = '';
    }
  },
  computed: {
    ...mapState({
      selecteImage: state => state.selectedImage
    })
  }
}
</script>
<style lang="scss" scoped>
  #edit-header {
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #closeBtn {
    border: none;
    font-size: 30px;
    cursor: pointer;
  }
  #editContianer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    justify-content: space-evenly;
    & > div {
      width: 45%;
    }
  }
  #imageLoader {
    width: 100%;
    padding: 15px;
    border: 1px solid #000;
    margin-top: 15px;
  }
  #saveImage {
    border: 1px solid #000;
    background: transparent;
    padding: 10px;
    margin-top: 10px;
  }
</style>