<template>
  <transition appear name="modalW">
    <div class="testModal" @click="close" v-if="show" role="dialog" >
      <div class="modal-dialog">
        <div class="modal-content" @click.stop>
          <slot></slot>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  name: 'ModalWrapper',
  props: ['show', 'onClose'],
  methods: {
    close() {
      this.onClose();
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../../style/mixin.scss';
.testModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .5);
}
.modal{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: block;
}
.modalW-enter-active, .modalW-leave-active {
  transition: all .2s ease-in
}
.modalW-enter, .modalW-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
.modal-dialog {
  position: relative;
  width: 100%;
  margin: 15px auto;
  min-height: calc(100% - (15px *2));
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint-min(calc-rem(576)) {
    max-width: 80%;
  }
  @include breakpoint-min(calc-rem(768)) {
    max-width: 600px;
  }
  @include breakpoint-min(calc-rem(992)) {
    max-width: 850px;
  }
}
.modal-content {
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
}
</style>