<template>
  <div class="imgWrapper">
    <image-container :imgURL="imageObj.image_url"></image-container>
    <div class="icons">
      <i class="deleteIcon" @click="deleteImg">
        <img src="../assets/delete.svg" alt="">
      </i>
      <i class="editIcon" @click="editImage">
        <img src="../assets/edit.svg" alt="">
      </i>
    </div>
  </div>
</template>
<script>
import ImageContainer from './imageContainer'
export default {
  name: 'ImageWrapper',
  components: {
    ImageContainer
  },
  props: {
    imageObj: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  methods: {
    editImage() {
      this.$emit('editImage', this.imageObj);
    },
    deleteImg() {
      this.$emit('delteImage', this.imageObj);
    }
  }
}
</script>
<style lang="scss" scoped>
@import "../style/mixin.scss";
.imgWrapper {
  position: relative;
  background: #ccc;
  margin-bottom: 30px;
  &:hover {
    & > .icons {
      opacity: 1;
      transition: opacity .2s linear;
    }
  }
}
.icons {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, .7);
  z-index: 10;
  top:0;
  opacity: 0;
  transition: opacity .2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  & i {
    width: 30px;
    height: 30px;
    cursor: pointer;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}
.deleteIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}
</style>