<template>
  <div>
    <figure>
      <img :src="imgURL" alt="" srcset="">  
    </figure>
  </div>
</template>
<script>
export default {
  name: 'ImageContainer',
  props: {
    imgURL: {
      type: String,
      default() {
        return ''
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@import "../style/mixin.scss";
figure {
  position: relative;
  margin: 0;
  padding-bottom: calcPadding(4,5);
  & img{
    position: absolute;
    max-width: 100%;
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    z-index: 1;
    background: url('../assets/placeholder-image.png') center no-repeat;
    background-size: 100%;
  }
}
</style>